<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <ul class="nav navbar-nav ml-md-auto pr-3" appAsideMenuToggler>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle">
        <span class="fa fa-user-circle-o fa-2x"></span>
      </a>
    </li>
  </ul>
</header>
