// Here you can add other styles

// Imported AJW Group Branding Fonts
@import "src/assets/fonts/museo-sans.scss";

body {
  font-family: "Museo Sans", sans-serif;
}
.main .container-fluid {
  padding: 0 15px; //reduced padding from 30px to 15px
}